@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Onest:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Onest", sans-serif;
}

.side-bar {
    width: 300px;
    height: 100vh;
    background-color: #02026f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Name img {
    width: 50px;
}

.Name {
    color: #fff;
    display: flex;
    align-items: center; 
    gap: 10px;
}

.nav{
    text-align: center;
    padding: 0;
}


.dashboard,
.students,
.clinic-visit,
.medication,
.appointments,
.reports {
    color: #fff;
    display: flex;
    align-items: center; 
    gap: 10px;
}

.dashboard img,
.students img,
.clinic-visit img,
.medication img,
.appointments img,
.reports img {
   width: 50px; 
}